.git
src_rust/target
src_rust/rust_audio_core/target
src_rust/rust_viz_core/target
src_rust/rust_launcher/target
src_rust/rust_tidal_core/target
build_tmp
dist
build_rpmbuild_*
build_archpkg
__pycache__
*.pyc
.claude
